
@{
    ViewBag.Title = "Index";
}
<div class="row mt-5">
    <div class="col-xl-8 mb-5 mb-xl-0">
        @Html.Partial("~/Views/Shared/_MarketIndexes.cshtml");

    </div>
    <div class="col-xl-4">
        @Html.Partial("_StockMarket")
    </div>
</div>
