@model IEnumerable<DMA__Pty__Ltd.Models.MarketsApiViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {

        @Html.Partial("_MarketIndexes", item.GetMarkets); 

        @Html.Partial("_StockMarket", item.GetStocks);
    }

</table>
