@*@using static DMA__Pty__Ltd.Models.Market;*@
@model dynamic
@{
    ViewBag.Title = "Home Page";
}

<table>
    <tr>
        <th>Id</th>
        <th>Code</th>
        <th>Name</th>
    </tr>
    @foreach (var teacher in Model.Market)
    {
        <tr>
            <td>@teacher.indexName</td>
            <td>@teacher.ticker</td>
            <td>@teacher.changes</td>
        </tr>

    }
</table>  